<body>

<div id="title" class="title">
</div>
<div id="titletext" class="titletext">
<p class="title">Let's play Snakes & Ladders.</p>
</div>

<div id="maintext"; class="maintext">
</div>
<div id="innertext" class="innertext">

<p>Are these settings correct?</p>
<p>Player1:</p>
<p><%= @player1.get_name()%></p>
<p>Player 2:</p>
<p><%= @player2.get_name()%> </p>
<p>Number of squares on game board:</p>
<p><%= @squares%></p>
<p>Number of Snakes on game board:</p>
<p><%= @snakes%></p>
<p>Number of ladders of game board:</p>
<p><%= @ladders%></p>
<form action="/snakesnladders/game_view">
    <input type="submit" style="height:70px; width:300px" value="Let's do this" />
</form>
<form action="/snakesnladders/new">
    <input type="submit" style="height:70px; width:300px" value="No way!" />
</form>
<div>

</body>