<body>

<!-- <p><%= @game.get_board_format() %></p> -->


<div class=<%=@game.get_board_format()%> id=<%=@game.get_board_format()%>>
<div class="box box1">1</div>
<!-- generate board --> 
<% count = 2%>
<% type ="box"%>
<% player1 = @game.get_player1() %>
<% player2 = @game.get_player2() %>

<% while count <= @squares.to_i %>
    <div class=<% type = @game.player_square(count, @player1, @player2) %>
               <%= type %>> 
               <%=count %>  
               </div>
               <% count += 1 %>
<% end %>
</div>

<div class="botton" id="button">
<a href="/snakesnladders/game_view">
<img src="/roll_the_dice2.jpg" width="60" height="60" border="0">
</a>
</div>

<div class="player1_botton" id="player1_button">
<p>Player 1</p>
</div>
<div class="player2_botton" id="player2_button">
<p>Player 2</p>
</div>


</body>
