<body>

<!-- <p><%= @game.get_board_format() %></p> -->


<div class=<%=@game.get_board_format()%> id=<%=@game.get_board_format()%>>

<!-- generate board --> 
<% player1 = @game.get_player1() %>
<% player2 = @game.get_player2() %>
<% board = @game.get_board() %>


<% for square in board %>
  <% type ="box"%>
  <% if square.get_effect() < 0 %>
  <% type = "snake" %>
  <% end %>
  <% if square.get_effect() > 0 %>
  <% type = "ladder" %>
  <% end %>
  <% if square.get_number() == player1.get_position() %>
  <% type = "box_green" %>
  <% end %>
  <% if square.get_number() == player2.get_position() %>
  <% type = "box_blue" %>
  <% end %>
  <div class=<%= type %>> 
             <%= square.get_number() %>
             <%= square.get_effect() %>
             </div>
<% end %>


</div>

<div class="buttons" id="buttons">
<div class="botton" id="button">
<a href="/snakesnladders/game_view">
<img src="/roll_the_dice2.jpg" width="60" height="60" border="0">
</a>
</div>

<div class="player1_botton" id="player1_button">
<p>Player 1</p>
</div>
<div class="player2_botton" id="player2_button">
<p>Player 2</p>
</div>
</div>


</body>
