<body>

<!-- <p><%= @game.get_board_format() %></p> -->


<div class=<%=@game.get_board_format()%> id=<%=@game.get_board_format()%>>

<!-- generate board --> 
<% player1 = @game.get_player1() %>
<% player2 = @game.get_player2() %>
<% board = @game.get_board() %>


<% for square in board %>
  <% type ="box"%>
  <% if square.get_effect() < 0 %>
  <% type = "snake" %>
  <% end %>
  <% if square.get_effect() > 0 %>
  <% type = "ladder" %>
  <% end %>
  <% if square.get_number() == player1.get_position() %>
  <% type = "box_green" %>
  <% end %>
  <% if square.get_number() == player2.get_position() %>
  <% type = "box_blue" %>
  <% end %>
  <div class=<%= type %>> 
             <%= square.get_number() %>
             <p>E: <%= square.get_effect() %></p>
             </div>
<% end %>


</div>

<div class="buttons" id="buttons">

<form method="post" action="/snakesnladders/roll_dice">
    <input class="dice_button" id="dice_button" type='image' size='60px' src="/roll_the_dice2.jpg">
</form>






<div class="player1_button" id="player1_button">
<p>Player 1</p>
</div>
<div class="player2_button" id="player2_button">
<p>Player 2</p>
</div>
<p>Player 1 rolls <%= @game.get_dice_number %></p>
<p>Player 1 moves to square number <%= @player1.get_position %></p>
<p><%= @player2.get_position %></p>

</div>




</body>
